body {
  background-color: #57c5b6;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body,
html {
  height: 100%;
}

h1 {
  position: relative;
  background-color: #159895;
  margin-top: 50px;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Sofia", sans-serif;
  font-size: 100px;
}
.header {
  position: static;
  display: flex;
  justify-content: center;
}
#logo {
  width: 40px;
}
.navBar {
  position: fixed;
  margin-top: 0%;
  padding-left: 0%;
  width: 100%;
  height: 60px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #1a5f7a;
  z-index: 1;
}
li a {
  color: white;
  font-size: larger;
  text-decoration: none;
  padding: 20px;
  background-color: #1a5f7a;
}

li:first-child a {
  display: flex;
  padding: 10px 20px;
}
li a:hover {
  background-color: #002b5b;
}
footer {
  width: 100%;
  height: 200px;
  background-color: #159895;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.footer li {
  color: white;
  font-size: larger;
}
section {
  position: relative;
}
form {
  display: flex;
  justify-content: space-around;
  border: 5px solid white;
  padding: 30px;
}
label {
  font-size: larger;
  color: white;
  text-shadow: 1px 1px #1a5f7a;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.info {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
#empImg {
  position: relative;
  margin: 5px;
  border: 2px solid white;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
#mySection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}
.card {
  background-color: #1a5f7a;
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  margin: 10px;
}
#submit {
  border: none;
  color: white;
  background-color: #002b5b;
}
#submit:hover {
  background-color: #1a5f7a;
}
.dep {
  border: 10px solid black;
}
#admin,
#market,
#dev,
#finance {
  display: none;
}
.depTitle {
  color: white;
  font-size: 50px;
}
